body {
    margin:0;
}

.App {
    background-color: rgb(248, 248, 248);
}

* {
    font-family: 'Open Sans', sans-serif;
}

.landing-text {
    margin: 0 auto;
    color: white;
}

.landing-container {
    height: calc(65vh - 49px);
    background-color: #020202;
    background-image:  url('./assets/topography.svg');
    width: 100%;
}

.landing-text h1{
    font-weight: bold;
    width:90%;
}

.landing-text h4 {
    font-size: 1.2rem;
    width:60%;
    font-weight: 200;
}

.login-container{
    height: calc(100vh - 49px);
    background-color: rgb(223, 223, 223);
    background-image:  url('./assets/topography.svg');
}


.login-form-container {
    background-color: WHITE;
    box-shadow: inset 0 0 2000px #dbdbdb80;
    border-radius: 10px;   
}

.img-split {
    border-left: 3.5px dotted rgb(151, 151, 151) ;

}

a {
    color: white;
    text-decoration: none;
}


.Resizable{
    height: 100px;
    width: 100%;
    
}
.Draggable{
    background: rgba(248, 248, 248, 0.2);
    border-top: 1px solid rgb(196, 196, 196);
    cursor: col-resize;
    height: 10px;
    width: 100%;
    resize: vertical;
}
.stop-scroll {

    height: 100% !important;
    
    overflow: hidden !important;
    
    }

